*{
  font-family:helvetica;
}

div{
  width:20em;
  padding:20px;
  background-color:lightblue;
  margin:0px auto;
  display:block;
  border-radius:20px;
}

#landing{
    text-align:center;
}

#userinfo{
}

#survey{
}

#results{
}
